{{ define "main" }}

{{ if .Params.hideTitle }}
<p/>
{{ else }}
<h2>{{ .Title }}</h2>
{{ end }}
<div id="masonry" class="content-container wide">
	{{ range .Pages.ByPublishDate.Reverse }}
	<article class="item" itemscope itemtype="http://schema.org/Article">
		{{ with (.Resources.ByType "image").GetMatch "*cover*" }}
			{{ $image := .Resize "800x" }}
			<img itemprop="image" src="{{ $image.Permalink }}" alt="{{ .Title }}" />
		{{ end }}
		<h2 itemprop="name headline">
			<a href="{{ .Permalink }}" itemprop="url">{{ .Title }}</a>
		</h2>
		<div>
			{{ partial "date.html" . }}&nbsp;|&nbsp;
			{{ partial "reading-time.html" . }}
		</div>
		<p itemprop="description">{{ .Summary }}</p>
		{{ if .Truncated }}
		<p class="text-center">
			<a href="{{.Permalink }}" itemprop="url" title="Read more about {{ .Title }}">
				<i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
				Read More
			</a>
		</p>
		{{ end }}
	</article>
	{{ end }}
</div>
{{ end }}

{{ define "script" }}
<script src="https://cdn.jsdelivr.net/combine/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js,npm/imagesloaded@4.1.4"></script>
<script>
	var $grid = $("#masonry").masonry({
		itemSelector: '.item',
		gutter: 10
	});

	$grid.imagesLoaded().progress(function () {
		$grid.masonry('layout');
	});
</script>
{{ end }}
