{{ $logo := resources.Get "img/logo.svg" | minify }}
<img id="logo" src="{{ $logo.Permalink }}" alt="{{ .Site.Title }}"/>
<h1><span class="hidden">{{ .Site.Title }}</span></h1>
<nav>
	<ul>
		{{ $currentPage := . }}
		{{ range .Site.Menus.main }}
			{{ $active := or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
			{{ $active = or $active (eq .Name $currentPage.Title) }}
			{{ $active = or $active (and (eq .Name "Blog (en)") (eq $currentPage.Section "blog")) }}
			<li><a class="{{ if $active }}active{{end}} animsition-link" href="{{ .URL | absURL }}"><i class="fa fa-arrow-circle-{{ if $active }}down{{ else }}right{{ end }}" aria-hidden="true"></i>&nbsp;{{ .Name }}</a></li>
		{{ end }}
	</ul>
</nav>
