{{ with .Site.Params.rssUrl | absURL }}<a href="{{ . }}" type="application/rss+xml" target="_blank" title="RSS feed"
										  class="social-button fa fa-rss-square"></a>{{ end }}
<a href="//www.twitter.com/share?url={{ .Permalink }}&text={{ .Title }}" target="_blank" title="Share on Twitter"
   class="social-button fa fa-twitter-square"></a>
<a href="//www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}&title={{ .Title }}&summary={{ .Params.description }}"
   target="_blank" title="Share on LinkedIn" class="social-button fa fa-linkedin-square"></a>
<a href="//www.xing.com/spi/shares/new?url={{ .Permalink }}" target="_blank" title="Share on Xing"
   class="social-button fa fa-xing-square"></a>
<a href="mailto:?&subject=Interesting article&body={{ .Title }}: {{ .Permalink }}" target="_blank" title="Share with Email"
   class="social-button fa fa-envelope"></a>
<a href="//www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank" title="Share on Facebook"
   class="social-button fa fa-facebook-square"></a>
