{{ define "main" }}

<p/>
<div id="masonry" class="content-container wide">
	{{ .Content }}
</div>
{{ end }}

{{ define "script" }}
<script src="https://cdn.jsdelivr.net/combine/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js,npm/imagesloaded@4.1.4"></script>
<script>
	var $grid = $("#masonry").masonry({
		itemSelector: '.item',
		gutter: 10
	});

	$("#masonry video").each(function (i, v) {
		v.addEventListener('loadeddata', function () {
			$grid.masonry('layout');
		}, false);
	});

	$grid.imagesLoaded().progress(function () {
		$grid.masonry('layout');
	});
</script>
{{ end }}
