{{ $type := .Get "type" }}
{{ $title := .Get "title" }}
{{ $content := .Inner | markdownify }}
{{ $video := .Get "video" }}
{{ $image := .Get "image" }}
{{ $link := .Get "link" }}

<div class="item" itemscope itemtype="http://schema.org/{{ $type }}">
	{{ with .Page.Resources.GetMatch $image }}
		{{ $image := . }}
		{{ if gt .Width 800 }}
			{{ $image = .Resize "800x" }}
		{{ end }}
		<img itemprop="image" src="{{ $image.Permalink }}" alt="{{ $title }}" />
	{{ end }}

	{{ with .Page.Resources.GetMatch $video }}
	<video itemprop="video" controls loop autoplay>
		<source src="{{ .Permalink }}" type="{{ .MediaType }}">
		Ihr browser unterstützt keine Videos.
	</video>
	{{ end }}

	<h2 itemprop="name">{{ $title }}</h2>
	<p itemprop="description">{{ $content }}</p>

	{{ with $link }}
	<p class="text-center">
		<a href="{{ . }}" title="Mehr Infos" target="_blank"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Mehr Infos</a>
	</p>
	{{ end }}
</div>
