{{ $type := .Get "type" }}
{{ $title := .Get "title" }}
{{ $content := .Inner| markdownify }}

{{ $video := .Get "video" }}
{{ $hasVideo := not (eq $video "") }}
{{ $videoUrl := $video | absURL }}

{{ $image := .Get "image" }}
{{ $hasImage := not (eq $image "") }}
{{ $imageUrl := $image | absURL }}

{{ $link := .Get "link" }}
{{ $hasLink := not (eq $link "") }}

<div class="item" itemscope itemtype="http://schema.org/{{ $type }}">
	{{ if $hasImage }}
	<img itemprop="image" src="{{ $imageUrl }}" alt="{{ $title }}" />
	{{ end }}

	{{ if $hasVideo }}
	<video itemprop="video" controls loop autoplay>
		<source src="{{ $videoUrl }}" type="video/mp4">
		Ihr browser unterstützt keine Videos.
	</video>
	{{ end }}

	<h2 itemprop="name">{{ $title }}</h2>
	<p itemprop="description">{{ $content }}</p>

	{{ if $hasLink }}
	<p class="text-center">
		<a href="{{ $link }}" title="Mehr Infos" target="_blank"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Mehr Infos</a>
	</p>
	{{ end }}
</div>
